//adds
.about_us_links_wrapper {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}
.about_us_link:hover{
    color: #A4AAB2;
}
.about_us_links_wrapper svg{
    margin: 0 5px;
}
.about_us_link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #282A2B;
    text-decoration: none;
    cursor: pointer;
    
}


 .swiper-slide {
     background: #FFFFFF;
     border: 1px solid #EBEDF3;
     box-sizing: border-box;
     border-radius: 6px;
     overflow: hidden;
 }
 .lost_and_found_link_img img {
    width: 100%;
    object-fit: cover;
}
 .lost_and_found_link_text {
     font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 15px;
     line-height: 18px;
     color: #282A2B;
     margin-bottom: 4px;
     text-decoration: none;
 }
 .lost_and_found_link{
     text-decoration: none;
 }
 .lost_and_found_link_text_num_wrapper{
     padding: 15px 18px;
 }
 .lost_and_found_link_text_num {
     font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 13px;
     color: #A4AAB2;
 }
 .swiper-button-next{
     width: 36px!important;
     height: 36px!important;
     background: #FFFFFF;
     border: 1px solid #D2D4D9;
     box-sizing: border-box;
     box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
     border-radius: 30px;
     background-image: url(../images/arrow_slide_prev.svg);
     background-repeat: no-repeat;
     background-size: 11px 20px;
     background-position: center;
     
 }
 .swiper-button-next::after{
     display: none;
 }
 .swiper-button-prev{
     width: 36px!important;
     height: 36px!important;
     background: #FFFFFF;
     border: 1px solid #D2D4D9;
     box-sizing: border-box;
     box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.08);
     border-radius: 30px;
     background-image: url(../images/arrow_slide_prev.svg);
     background-repeat: no-repeat;
     background-size: 11px 20px;
     background-position: center;
     transform: rotate(180deg);
     
 }
 .swiper-button-prev::after{
     display: none;
 }

 .lost_and_found_slider_item {
    max-width: 875px;
    width: 100%;
}


.lost_and_found_aside_item {
    max-width: 281px;
    width: 100%;
    height: 274px;
    background: #F5F6FA;
    border-radius: 6px;
    padding: 26px;
}
.lost_and_found_aside_item_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #282A2B;
    margin-bottom: 12px;
}
.lost_and_found_aside_item_sign_text_wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
}
.lost_and_found_aside_item_sign_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #828892;
    margin-left: 5px;
}
.lost_and_found_aside_item_svg_title_main_wrapper {
    margin-bottom: 30px;
 
}
.lost_and_found_aside_item_btn {
    background: #282A2B;
    border-radius: 6px;
    width: 150px;
    padding: 15px 19px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: block;
    overflow: hidden;
}

.adds {
    width: 100%;
    margin-bottom: 63px;
}

.adds_wrapper {
    max-width: 1175px;
    width: 100%;
    margin: 0 auto;
}


.adds_items_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.lost_and_found_aside_item {
    margin-bottom: 17px;
}
.adds_item_first_images_wrapper {
    display: flex;
    margin-bottom: 44px;
}

.adds_item_first_image_parent {
    margin-right: 16px;
    max-width: 677px;
    width: 100%;
}
.adds_item_first_image_child:not(:last-child) {
    margin-bottom: 8px;
}

.adds_item_first_wrapper_titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}
.adds_item_first_wrapper {
    max-width: 871px;
    width: 100%;
}


.adds_item_first_wrapper_titles1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}


.adds_item_first_wrapper_titles_btn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #41B858;
    background: none;
    border: none;
    outline: none;
    margin-left: 9px;
}

.adds_item_first_wrapper_titles_btn_svg_wrapper {
    display: flex;
    align-items: center;
}

.adds_item_first_info_parent_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.adds_item_first_info_child_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.adds_item_first_info_wrapper:not(:last-child) {
    margin-right: 64px;
}

.adds_item_first_info_wrapper{
    max-width: 261px;
    width: 100%;
}
.adds_item_first_info_child_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828892;
}

.adds_item_first_info_child_num {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #282A2B;
}

.description_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 5px;
}

.description_info {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #282A2B;
}

.description_wrapper {
    margin-bottom: 35px;
}


.location_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}


.location_wrapper {
    margin-bottom: 28px;
}

.price_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price_wrapper {
    margin-bottom: 30px;
}

.price_item_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}


.price_btn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #282A2B;
    border: none;
    outline: none;
    background: none;
    margin-left: 8px;
}

.price_btn_wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.price_line {
    max-width: 864px;
    width: 100%;
    height: 1px;
    border: 1px solid #EBEDF3;
    margin-bottom: 33px;
}

.address_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 34px;
}

.address_item_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 5px;
}

.address_item_link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

.address_item_link {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.address_item_link svg{
    margin-right: 6px;
}

.address_item_date_info {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828892;
    margin-right: 14px;
}

.address_item_date_info_num {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828892;
}

.address_item_date_info_wrapper{
    display: flex;
    align-items: center;

}

.address_item_date_wrapper {
    display: flex;
    align-items: center;
}


.address_item_second_btn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828892;
    background: none;
    border: none;
    outline: none;
    margin-left: 6px;
}

.address_item_second_btn_wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.lost_and_found_slider_item_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 21px;
}



@media(max-width:1250px){
    .adds_wrapper {
        width: 93%!important;
    }
  
}



@media (min-width:1130px) and (max-width:1250px){

    .adds_item_first_wrapper {
        max-width: 750px!important;
        width: 100%;
    }
}


@media (min-width:1071px) and  (max-width:1129px) {

    .adds_item_first_wrapper {
        max-width: 700px!important;
        width: 100%;
    }
}



// @media (min-width:921px) and (max-width:1070px){
//     .adds_item_first_wrapper {
//         max-width: 600px!important;
//         width: 100%;
//     }
//     .adds_item_first_wrapper_titles1 {
//         font-size: 26px!important;
//     }
// }

@media (min-width:551px) and (max-width:920px){
    .lost_and_found_aside_item {
        margin-bottom: unset!important;
         margin-right: 20px;
     }
}


@media (max-width:550px){
    .lost_and_found_aside_item {
       max-width: unset!important;
       width: unset!important;
         margin-right:  unset!important;
     }

}


@media  (max-width:1070px) {
    .adds_items_wrapper {
        flex-direction: column;
    }
    .adds_item_first_image_parent{
        max-width: unset!important;
    }
    .adds_item_first_wrapper{
        max-width: unset!important;
    }
    .adds_item_second_wrapper {
        display: flex;
        align-items: flex-start;
    }
  
    .adds_item_first_wrapper {
        margin-bottom: 35px!important;
    }
    .adds_item_first_images_wrapper {
        flex-direction: column;
    }
    .adds_item_first_image_parent {
       margin-right: unset!important;
    }
    .adds_item_first_image_childs_wrapper {
        display: flex;
        justify-content: space-between;
    }
    .adds_item_first_image_child:not(:last-child) {
       margin-bottom: unset!important;
        margin-right: 5px;
    }
}

@media (min-width:811px) and (max-width:968px){

    .lost_and_found_aside_item {
       height: unset!important;
      
}

}





@media (min-width:651px) and (max-width:750px){
    .adds_item_first_wrapper_titles1 {
        font-size: 28px!important;
    }
    .adds_item_first_wrapper_titles_btn {
        font-size: 14px!important;
    }
}




@media (min-width:608px) and (max-width:650px) {
    .adds_item_first_wrapper_titles1 {
        font-size: 26px!important;
    }
    .adds_item_first_wrapper_titles_btn {
        font-size: 14px!important;
    }
}


@media (min-width:371px) and (max-width:607px)  {
    .adds_item_first_wrapper_titles1 {
        font-size: 22px!important;
    }
    .adds_item_first_wrapper_titles_btn {
        font-size: 12px!important;
    }
}


@media (max-width:370px)   {
    .adds_item_first_wrapper_titles1 {
        font-size: 19px!important;
        line-height: unset!important;
        margin-bottom: 10px;
    }
    .adds_item_first_wrapper_titles_btn {
        font-size: 12px!important;
    }
    .adds_item_first_wrapper_titles_btn_svg_wrapper svg {
        width: 20px!important;
        height: 20px!important;
    }
  
}

@media(max-width:450px){
    .adds_item_first_info_child_title {
        font-size: 14px!important;
}
    .adds_item_first_info_child_num{
        font-size: 14px!important;
    }
    .adds_item_first_info_wrapper:not(:last-child) {
        margin-right: unset!important;
        margin-bottom: 20px;
    }
    .adds_item_first_info_parent_wrapper {
        margin-bottom: 25px!important;
        flex-direction: column;
    }
}


@media(max-width:425px){
    .description_info {
        font-size: 14px!important;
      
    }
    .adds_item_first_images_wrapper {
         margin-bottom: 30px!important;
    }
    .lost_and_found_slider_item_title {
        font-size: 22px!important;
        margin-bottom: 16px!important;
    }
    .address_item_title {
        font-size: 22px!important;
    }
    .price_item_title {
        font-size: 20px!important;
    }
    .price_btn {
        font-size: 14px!important;
    }
    .price_wrapper {
        margin-bottom: 23px!important;
    }
    .price_line {
        margin-bottom: 26px!important;
    }
    .address_item_date_info, .address_item_date_info_num, .address_item_second_btn {
        font-size: 14px!important;
}
    .address_wrapper {
        margin-bottom: 27px!important;
    }
}
@media(max-width:460px){
    .price_item {
        flex-direction: column;
        align-items: unset!important;
    }
    .price_item_title {
        margin-bottom: 10px;
    }
}


@media(max-width:550px){
    .adds_item_second_wrapper {
        flex-direction: column;
    }
}

@media (max-width:529px) {
    .adds_item_first_wrapper_titles {
        flex-direction: column;
        justify-content: center!important;
    }
}




@media  (min-width:426px) and (max-width:810px){
    .price_item_title {
        font-size: 23px!important;
    }
}

@media(max-width:920px)
{
    .address_wrapper {
        flex-direction: column;
        justify-content: unset!important;
        align-items: unset!important;
    }
    .address_item:not(:last-child) {
        margin-bottom: 20px;
    }
}


@media (min-width:426px) and (max-width:1070px){
    .address_item_title {
        font-size: 26px!important;
    }
}
.adds_item_first_image_parent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adds_item_first_image_child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.new_announcements_item_small_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.location_map iframe{
    max-width: 871px;
    width: 100%;
   height: 284px;
}