*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//header


header {
    width: 100%;
    margin-bottom: 21px;
    padding-top: 21px;
    .header_wrapper {
        max-width: 1172px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile_icon_wrapper{
        display: none;
    }
    .hamburger-menu{
        display: none;
    }
  
.office_header_wrapper {
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.office_header_select_wrapper_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 5px;
}
.office_header_select_wrapper {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}
    
    .mobile_version{
        display: none;
    }
    .header_nas_btn_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main_ul_link {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #000000;
        text-decoration: none;
        cursor: pointer;
    }
    .main_ul_li {
        list-style: none;
    }
    .main_ul_list {
        display: flex;
        align-items: center;
        width: 213px;
        justify-content: space-between;
        margin-right: 30px;
    }
    .header_login_registration_link_wrapper {
        background: #EBEDF3;
        border-radius: 6px;
        padding: 15px 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        cursor: pointer;
    }
    .header_login_registration_link_wrapper:hover{
        background: #E1E4ED;
    }
    .hamburger_link_parent_wrapper{
        display: none;
    }
    .header_login_registration_link {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #000000;
        text-decoration: none;
        cursor: pointer;
    }
    .add_advert_link_wrapper {
        background: #67C97A;
        border-radius: 6px;
        padding: 16px 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .add_advert_link {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-left: 11px;
        text-decoration: none;
        cursor: pointer;
    }
    .add_advert_link_wrapper:hover{
        background: #41B858;
    }
}


//search

.search_categories {
    width: 100%;
    margin-bottom: 32px;
    .search_categories_wrapper {
        max-width: 1172px;
        width: 100%;
        margin: 0 auto;
    }
    .search_categories_form_wrapper {
        max-width: 1172px;
        width: 100%;
        height: 70px;
        border: 2px solid #FF4337;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    

    }
    .search_categories_form_input_first_wrapper {
        width: 400px;
        border-right: 1px solid #EBEDF3;
        margin-right: 25px;
    }
    .search_categories_form_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 22px;
        max-width: 999px;
        width: 100%;
    }
    .search_categories_form_second_subnav {
        display: none;
    }
    .search_categories_form_third_subnav {
        display: none;
    }
    .search_input {
        border: none;
        background: none;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #A4AAB2;
    }
    .search_categories_form_item_btn_wrapper {
        background: #FF4337;
        padding: 23px 41px;
        box-sizing: border-box;
        width: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
      

    }

    .search_categories_form_item_btn {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        border: none;
        background: none;
       
    }
    .btn_svg svg {
        margin-right: 7px;
    }
    .btn_svg {
        display: flex;
        align-items: center;
    }
    .search_categories_form_select_menu_ul_main_wrapper{
        display: none;
    }
  .search_categories_form_select_menu_ul_main_wrapper.open{
      display: block!important;
  }
    .search_categories_form_select_menu_first_arrow_title_wrapper {
        display: flex;
        align-items: center;
    }
    .search_categories_form_select_menu_second_arrow_title_wrapper {
        display: flex;
        align-items: center;
        position: relative;
    }
    .search_categories_form_select_menu_first {
        padding-right: 100px;
        border-right: 1px solid #EBEDF3;
        margin-right: 20px;
    }
    .search_categories_form_select_menu_second {
        margin-right: 50px;
    }

    .search_categories_form_select_menu_first_title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #55585D;
        margin-right: 3px;
    }

    .search_categories_form_select_menu_second_title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #55585D;
        margin-right: 3px;
    }
    .search_categories_form_select_menu_first_li {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #282A2B;
        list-style: none;
        margin-bottom: 10px;
    }
    .search_categories_form_select_menu_second_li {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #282A2B;
        list-style: none;
        margin-bottom: 10px;
    }

    .search_check_label_text {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #55585D;
        
    }
    .search_check_input_label{
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 1px solid #D2D4D9;
        box-shadow: 0px 20px 44px -16px rgba(255, 0, 0, 0.13);
        border-radius: 4px;
        margin-right: 9px;
        position: relative;
        transition: all 0.5s;
    }
    
    .search_categories_form_check_input {
        display: flex;
        align-items: center;
    }
    .search_categories_form_check_input.active .search_check_input_label::after{
        content: "";
        background-image: url(../images/label.svg);
        background-repeat: no-repeat;
        width: 10px;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-34%) scale(1);
        opacity: 0.5;
        
    }

    .search_categories_form_check_input.active .search_check_input_label::after{
       opacity: 1;
     
    }
    .search_categories_form_check_input.active .search_check_input_label{
        background: #67C97A;
        box-shadow: 0px 20px 44px -16px rgba(255, 0, 0, 0.13);
        border-radius: 4px;
    }
  
    // .search_categories_form_select_menu_second{
    //     width: 268px;
    //     height: 367px;
    //     background: #FFFFFF;
    //     border: 1px solid #EDEDF2;
    //     box-sizing: border-box;
    //     box-shadow: 0px 5px 10px rgba(157, 160, 166, 0.15);
    //     border-radius: 6px;
    //     position: relative;
    //     z-index: 10;
    // }

}



//footer

footer{
    width: 100%;
    background: #282A2B;
    .footer_wrapper {
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;
        padding: 65px 0;
    }
    .footer_items_wrapper{
        display: flex;
        justify-content: space-between;
        
    }
    .footer_item{
        width: 100%;
    }
    #footer_first_item{
        max-width: 276px;
    }
    #footer_second_item{
        max-width: 212px;
    }
    #footer_third_item{
        max-width: 211px;
    }
    #footer_four_item{
        max-width: 188px;
    }
    .footer_logo_item_text {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #A4AAB2;
    }
    .footer_categories_item_title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #A4AAB2;
        margin-bottom: 13px;
    }
    .footer_categories_item_link {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #828892;
        display: block;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .footer_logo_wrapper {
        margin-bottom: 15px;
    }
    .footer_item_contact_title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #A4AAB2;
        margin-bottom: 11px;
    }
    .footer_call_item_number {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 140%;
        color: #828892;
    }
    .footer_call_item_text {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #828892;
    }
    .footer_call_item_wrapper {
        margin-bottom: 10px;
    }
    .footer_contact_mail {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        color: #828892;
        margin-bottom: 1;
        margin-bottom: 14px;
    }
    .footer_social_contacts_links_wrapper {
        display: flex;
        align-items: center;
    }
    .footer_social_contacts_link {
        margin-right: 6px;
    }
    .footer_item_payment_title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #A4AAB2;
        margin-bottom: 11px;
    }
    .payment_options_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width:1200px){
    .header_wrapper{
        width: 95%!important;
    }
    .search_categories_wrapper {
        width: 95%!important;
    }
}

@media (min-width:970px) and (max-width:1090px){
    .add_advert_link_wrapper {
        padding: 16px!important;
    }
    .header_login_registration_link_wrapper {
        padding: 16px!important;
    }
    .add_advert_link{
        font-size: 14px!important;
    }
    .header_login_registration_link {
        font-size: 14px!important;
    }
    .main_ul_list {
        width: 200px!important;
        margin-right: 20px!important;
    
}
.header_logo_wrapper img {
    width: 270px!important;
}
}

@media (min-width:875px) and (max-width:969px){
    .add_advert_link_wrapper {
        padding: 14px!important;
    }
    .header_login_registration_link_wrapper {
        padding: 14px!important;
    }
    .add_advert_link{
        font-size: 12px!important;
    }
    .header_login_registration_link {
        font-size: 12px!important;
    }
    .main_ul_list {
        width: 175px!important;
        margin-right: 20px!important;
    
}
.header_logo_wrapper img {
    width: 270px!important;
}
    .main_ul_link {
        font-size: 14px!important;
    }
}

@media(max-width:874px){
    .header_nas_btn_wrapper {
        display: none!important;
    }
    .hamburger-menu{
        display: block!important;
    }
    .mobile_icon_wrapper{
        display: block!important;
    }
    .mobile_version{
        display: none;
    }
    .hamburger-menu-line {
        width: 30px;
        height: 3px;
        background: #41B858;
        border-radius: 10px;
        display: block;
        margin: 5px 0;
        transition: all 0.8s;
        margin-top: 0 !important;
    }
    .hamburger_link_parent_wrapper{
        display: flex!important;
    }
    .mobile-close {
        position: absolute;
        right: 20px;
        top: 30px;
        font-size: 30px !important;
        color: #41B858 !important;
    }
    .mobile_version{
        position: fixed;
        flex-direction: column;
        width: 100%;
        top: 0;
        left: 0;
        background: #EBEDF3;
        padding: 130px 20px!important;
        text-align: center;
        box-sizing: border-box;
        z-index: 1;
        height: 100vh;
        justify-content: center !important;
    }
    .mobile_main_ul_link {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        text-decoration: none;
        cursor: pointer;
    }
    .mobile_main_ul_link:hover{
        color: #41B858;
    }
    .mobile_main_ul_li {
        list-style: none;
        margin-bottom: 10px;
        
    }
    .mobile_main_ul_list {
        margin-bottom: 20px;
    }
    
    
    .login_icon {
        color: #67C97A;
    }
    


.mobile_add_advert_link_wrapper svg  path{
    stroke: #67C97A!important;
}
 
.mobile_add_advert_link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 5px;
}
}


@media (min-width:491px) and (max-width:874px){
    .hamburger_link_parent_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120px;
    }
}


@media (min-width:628px) and (max-width:874px){
    #office_mobile_header_wrapper {
        width: 260px;
    }
    .office_header_wrapper {
        margin-right: unset!important;
    }
}
@media (min-width:521px) and (max-width:627px) {
    #office_mobile_header_wrapper {
        width: 230px;
    }
    
}

@media (min-width:331px) and (max-width:520px) {
    #office_mobile_header_wrapper {
        width: 120px!important;
    }
    
}

@media (max-width:330px) {
    #office_mobile_header_wrapper {
        width: 110px!important;
    }
    
}




@media (max-width:490px) {
    .hamburger_link_parent_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90px;
    }
}
@media(max-width:370px){
    .mobile_header_login_registration_link {
        font-size: 14px!important;
    }
  .mobile_add_advert_link {
    font-size: 14px!important;
}


.header_logo_wrapper img {
    width: 200px!important;
}
.login_icon {
    font-size: 22px!important;
}
.mobile_add_advert_link_wrapper svg {
    width: 14px!important;
    height: 14px!important;
}
.hamburger-menu-line {
    width: 27px!important;
    height: 2px!important;
}
}


@media (min-width:371px) and (max-width:425px){

.header_logo_wrapper img {
    width: 240px!important;
}


}



@media(max-width:1170px){
    .footer_wrapper {
        width: 92%!important;
    }
}


@media (min-width:981px) and (max-width:1050px){
    #footer_first_item {
        max-width: 220px!important;
    }
}

@media (min-width:521px) and (max-width:980px){
    .footer_items_wrapper {
        flex-wrap: wrap;
        justify-content: unset!important;
    }

    #footer_first_item, #footer_second_item, #footer_third_item, #footer_four_item {
       max-width: unset!important;
    }

    .footer_item {
        width: 48%!important;
        margin-bottom: 30px;
    }
    .payment_options_wrapper {
        justify-content: end!important;
    }
    .footer_social_contacts_links_wrapper {
        justify-content: end!important;
    }
}


@media(max-width:520px){
    .footer_items_wrapper {
        flex-wrap: wrap;
        justify-content: unset!important;
        
    }
    .office_header_select_options_wrapper {
        left: -39px!important;
        top: 28px!important;
        width: unset!important;
    }
    #footer_first_item, #footer_second_item, #footer_third_item, #footer_four_item {
       max-width: unset!important;
    }

    .footer_item {
        width: 100%!important;
        margin-bottom: 30px;
    }
    .payment_options_wrapper {
        justify-content: end!important;
    }
    .footer_social_contacts_links_wrapper {
        justify-content: end!important;
    }
}


@media(max-width:425px){
    .footer_call_item_number {
        font-size: 20px!important;
}
    
    .sign_in_second {
        margin-bottom: 60px!important;
    }
    .footer_contact_mail {
        font-size: 20px!important;
    }

    .footer_social_contacts_link svg {
        height: 30px!important;
        width: 30px!important;
    }

    .footer_item{
        border-bottom: 1px solid #d2d4d96e;
        padding-bottom: 20px;
    }
   
}

@media (min-width:426px) and (max-width:580px){
    .sign_in_second {
        margin-bottom: 75px!important;
    }
}


@media (min-width: 877px) and  (max-width:910px){
    .office_header_select_wrapper_title {
        font-size: 14px!important;
    }

    .office_header_wrapper {
        margin-right: 15px!important;
    }
}

@media (min-width:521px) and (max-width: 876px){

    .office_header_wrapper {
        margin-right: unset!important;
    }
    .office_header_select_wrapper_title {
        font-size: 14px!important;
    }
}

@media (min-width:521px) and (max-width:580px){
    #office_header_logo img {
        width: 240px!important;
    }
}

@media (min-width:433px) and (max-width:520px){
    #office_header_logo img {
        width: 240px!important;
    }
}

@media  (min-width:357px) and (max-width:432px){
    #office_header_logo img {
        width: 200px!important;
    }
}


@media  (max-width:356px){
    #office_header_logo img {
        width: 170px!important;
    }
}

@media(max-width:520px){
    .office_header_select_wrapper_title {
        display: none!important;
    }
    .office_header_wrapper {
        margin-right: unset!important;
    }
    .office_header_select_wrapper_title {
        font-size: 12px!important;
    }
    .office_header_wrapper img {
        width: 30px!important;
        height: 30px!important;
    }
}


.office_header_select_title_options_wrapper.open .office_header_select_options_wrapper {
    display: block;

}
.office_header_select_options_wrapper{
    display: none;
 
}

.office_header_select_title_options_wrapper.open .office_header_select_wrapper svg {
  transform: rotate(180deg);

}

.office_header_select_title_options_wrapper{
    position: relative;
}


.office_header_select_options_wrapper {
    background: #FFFFFF;
    border: 1px solid #EDEDF2;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(157, 160, 166, 0.15);
    border-radius: 6px;
    padding: 24px;
    display: none;
    position: absolute;
    z-index: 20;
    left: 2px;
    top: 38px;
    width: 100%;
}

.choose_categories_select_option {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #282A2B;
    margin-bottom: 5px;
    text-decoration: none;
}

.office_header_select_wrapper svg {
    position: relative;
    top: 5px;
}

.sign_in_header{
    margin-bottom: 27px;
    background: #FFFFFF;
    border: 1px solid #F2F3F7;
    box-shadow: 0px 4px 68px rgba(0, 0, 0, 0.03);
    padding-bottom: 21px;
}




.search_categories_form_select_menu_ul_main_wrapper {
    background: white;
    position: absolute;
    padding: 26px 35px;
    left: -21px;
    top: 35px;
    background: #FFFFFF;
    box-sizing: border-box;
    // box-shadow: 0px 5px 10px rgba(157, 160, 166, 0.15);
    border-radius: 6px;
    z-index: 2;

}

.search_categories_form_select_menu_first, .search_categories_form_select_menu_second{
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}



@media(max-width:1220px){
    .search_categories_form_input_first_wrapper {
        width: unset!important;
        margin-right: unset!important;
    }
}

@media (min-width:772px) and (max-width:997px){
    .search_categories_form_input_first_wrapper input {
        width: 230px!important;
    }
}


@media (max-width:771px) {
    .search_categories_form_input_first_wrapper input {
        width: 200px!important;
    }
    .search_categories_form_select_menu_first {
        padding-right: 10px!important;
        margin-right: 8px!important;
    }
    .search_categories_form_select_menu_second {
        margin-right: 10px!important;
    }
    .search_categories_form_select_menu_ul_main_wrapper {
        position: absolute;
        padding: 26px 35px;
        left: -44px!important;
    }
  
}
@media (min-width:772px) and (max-width:997px){
  
    .search_categories_form_select_menu_first {
        padding-right: 30px!important;
        margin-right: 8px!important;
    }
    .search_categories_form_select_menu_second {
        margin-right: 10px!important;
    }
    .search_categories_form_select_menu_ul_main_wrapper {
        position: absolute;
        padding: 26px 35px;
        left: -44px!important;
    }
}

@media(max-width:842px){
    .search_input {
        font-size: 16px!important;
    }
    .search_categories_form_select_menu_first_title, .search_categories_form_select_menu_second_title {

        font-size: 16px!important;
    }
    .search_check_label_text {
        font-size: 16px!important;
    }
    .search_categories_form_item_btn {
        font-weight: 600;
        font-size: 16px!important;
    }
}

@media(max-width:800px)
{
    .search_categories_form_select_menu_first {
        padding-right: 100px;
        border-right: unset!important;
        margin-right: 20px;
    }
    .search_categories_form_input_first_wrapper {
        border-right: unset!important;
    }
}


@media(max-width:695px){
    .search_categories_form_wrapper {
        flex-direction: column;
        height: unset!important;
        padding: 20px;
    }
    .search_categories_form_item{
        padding: unset!important;
    }
    .search_categories_form_item_btn_wrapper {
        width: unset!important;
        border-radius: 10px;
    }
    .search_categories_form_item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .search_categories_form_select_menu_first{
        margin-right: unset!important;
    
    }
    .search_categories_form_select_menu_second{
        margin-right: unset!important;
        margin-bottom: 10px;
    }
}

@media (min-width:696px) and (max-width:770px){
    .search_categories_form_item_btn_wrapper {
        background: #ff4337;
        padding: 23px 6px!important;
        box-sizing: border-box;
        width: unset!important;
    }
}