.occurs_in_categories {
    width: 100%;
    margin-bottom: 91px;
}
.occurs_in_categories_wrapper {
    max-width: 1172px;
    width: 100%;
    margin: 0 auto;
}

.occurs_in_categories_item_big1_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 15px;
}
.occurs_in_categories_item_big1_items_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.occurs_in_categories_item_big1_item_num_text {
    display: flex;
    align-items: center;
}
.occurs_in_categories_item_big1 {
    margin-bottom: 33px;
    max-width: 749px;
    width: 100%;
}
.occurs_in_categories_items_wrapper {
    display: flex;
    justify-content: space-between;
}
.occurs_in_categories_item_big1_item_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #282A2B;
    margin-right: 5px;
}
.occurs_in_categories_item_big1_item_num {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #A4AAB2;
}

.foumd_add_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 21px;
}

.new_announcements_item_links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.new_announcements_item_link {
    width: 24%;
    max-width: 210px;
    margin-bottom: 16px;
    height: 310x;
    background: #FFFFFF;
    border: 2px solid #EBEDF3;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    margin-right: 8px;
}

.new_announcements_item_link_text_number {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #282A2B;
    margin-bottom: 3px;
}
.new_announcements_item_link_text_info {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #282A2B;
    margin-bottom: 7px;
}
.new_announcements_item_link_text_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #A4AAB2;
}


.new_announcements_item_link.active{
    background: #EAE7FF;
    border: 2px solid #DABCFF;
}

.new_announcements_item_link.active .new_announcements_item_link_text_info{
    color: #41B858;
}

.new_announcements_item_link:hover{
    background: #EAE7FF;
    border: 2px solid #DABCFF;
}
.new_announcements_item_link:hover .new_announcements_item_link_text_info{
    color: #41B858;
}


.new_announcements_item_link_texts_wrapper {
    padding: 20px;
}


.lost_and_found_aside_item {
    max-width: 281px;
    width: 100%;
    height: 274px;
    background: #F5F6FA;
    border-radius: 6px;
    padding: 26px;
    margin-bottom: 17px;
}
.lost_and_found_aside_item_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #282A2B;
    margin-bottom: 12px;
}
.lost_and_found_aside_item_sign_text_wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
}
.lost_and_found_aside_item_sign_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #828892;
    margin-left: 5px;
}
.lost_and_found_aside_item_svg_title_main_wrapper {
    margin-bottom: 30px;
 
}
.lost_and_found_aside_item_btn {
    background: #282A2B;
    border-radius: 6px;
    width: 150px;
    padding: 15px 19px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: block;
    overflow: hidden;
}


.new_announcements_item_link_img  img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@media(max-width:1250px){
    .occurs_in_categories_wrapper {
       width: 93%!important;
    }
}



@media(min-width:989px) and (max-width:1171px){
    .new_announcements_item_link {
        width: 31%!important;
        max-width: unset!important;
    }
   
}



@media (min-width:471px) and (max-width:988px) {
    .new_announcements_item_link {
        width: 48%!important;
        max-width: unset!important;
    }
  
}


@media (max-width:470px)  {
    .new_announcements_item_link {
        width: 100%!important;
        max-width: unset!important;
        margin-right: unset!important;
    }
  
}

@media (min-width:644px) and (max-width:850px){
    .new_announcements_item_small_wrapper img {
        width: 100%;
        object-fit: cover;
    }
    .new_announcements_item_small_wrapper{
        width: 281px;
    }
}

@media(max-width:643px){
    .new_announcements_items_links_wrapper {
        flex-direction: column;
    }


.new_announcements_item_small_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.new_announcements_item_link_btn_wrapper {
    margin-bottom: 30px;
}
}

@media (min-width:1012px) and (max-width:1124px){
    .occurs_in_categories_item_big1 {
        width: 90%!important;
    }
}


@media (min-width:957px) and (max-width:1011px) {
    .occurs_in_categories_item_big1 {
        width: unset!important;
        max-width: unset!important;
        margin-right: 20px;
    }
}

@media(min-width:870px) and (max-width:956px){
    .occurs_in_categories_item_big1_item {
        width: 48%;
        margin-bottom: 20px;
    }
    .occurs_in_categories_item_big1 {
        width: unset!important;
        max-width: unset!important;
    }
    .occurs_in_categories_item_big1_items_wrapper {
        justify-content: unset!important;
        flex-wrap: wrap;
    }
}


@media (min-width:736px) and (max-width:869px){
    .occurs_in_categories_item_big1_item {
        width: 100%;
        margin-bottom: 20px;
    }
    .occurs_in_categories_item_big1 {
        width: unset!important;
        max-width: unset!important;
      
    }
    .occurs_in_categories_item_big1_items_wrapper {
        justify-content: unset!important;
        flex-wrap: wrap;
    }
}


@media (min-width:564px) and (max-width:631px){
    .occurs_in_categories_item_big1_item {
        width: 48%;
        margin-bottom: 20px;
    }
    .occurs_in_categories_item_big1 {
        width: unset!important;
        max-width: unset!important;
      
    }
    .occurs_in_categories_item_big1_items_wrapper {
        justify-content: unset!important;
        flex-wrap: wrap;
    }
}


@media  (max-width:563px){
    .occurs_in_categories_item_big1_item {
        width: 100%;
        margin-bottom: 20px;
    }
    .occurs_in_categories_item_big1 {
        width: unset!important;
        max-width: unset!important;
      
    }
    .occurs_in_categories_item_big1_items_wrapper {
        justify-content: unset!important;
        flex-wrap: wrap;
    }
}


@media(max-width:735px){
    .occurs_in_categories_items_wrapper {
        flex-direction: column;
    }
  
}


@media (min-width:538px) and (max-width:735px){
    .occurs_in_categories_item_small_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media (min-width:538px) and(max-width:620px){
    .lost_and_found_aside_item {
        width: 48%!important;
        max-width: unset!important;
        height: unset!important;
   
    }
    .new_announcements_item_small_wrapper {
        width: 48%;
    }
}


@media (max-width:537px){
    .lost_and_found_aside_item {
        width: 100%!important;
        max-width: unset!important;
        height: unset!important;
   
    }
    .new_announcements_item_small_wrapper {
        width: 100%;
    }
}

@media(max-width:425px){
    .occurs_in_categories_item_big1_title {
        font-size: 22px!important;
        margin-bottom: 10px!important;
    }
    .foumd_add_title{
        font-size: 22px!important;
        margin-bottom: 15px!important;
    }
    .occurs_in_categories_item_big1 {
        margin-bottom: 25px!important;
    }
    .occurs_in_categories_item_big1_item_num, .occurs_in_categories_item_big1_item_text {
        font-size: 14px!important;
    }
    .lost_and_found_aside_item_title {
        font-size: 18px!important;
    }
    .lost_and_found_aside_item_sign_text {
        font-size: 13px!important;
    }
    .lost_and_found_aside_item_btn {
        width: 130px!important;
        padding: 10px 19px!important;
        font-size: 14px!important;
       
    }
    .occurs_in_categories {
        margin-bottom: 60px!important;
    }
}

@media (min-width:426px) and (max-width:580px){
    .occurs_in_categories {
        margin-bottom: 75px!important;
    }
}

